* {
      box-sizing: border-box;
  }

  body {
    display: inline-block;
    padding: 1em;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(50, 50, 50);
    background-color: lavender;
  }

