body {
    display: grid;
    grid-template-columns: 1fr;
    font: 75% georgia, sans-serif;
    color: #555753;
    font-family: sans-serif;
}

.menu {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

header {
    height: 70px;
    background-color: brown;
    text-decoration: none;
}

.logo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

nav {
    flex: 2;
    text-align: center;
    padding: 5px;
    height: 30px;
    background-color: brown;
}

.menu {
    vertical-align: center;
    font-size: 28px;
    text-emphasis: black;
    text-decoration-color: darkgrey;
}

.image {
    align-content: center;
}

footer {
    height: 30px;
    background-color: whitesmoke;
}

main {
    background-color: lightgoldenrodyellow;
}
section {
    background-color: white;
    margin: 30px;
    border: 2px solid darkred;
    padding: 20px;
}
.body-container {
    margin: 30px;
    padding: 87px;
}
.logo {
    align: center;
    color: black;
    font-size: 4rem;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.ninja {
    position: inherit;
    padding-left: 20vw;
    animation-name: ninja;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

@keyframes ninja {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }


  }