.App-header {
    min-height: 370px;
    max-height: 370px;
    background-image: url("../pics/h-alt.jpeg");
    filter: grayscale(90);
    /* filter: brightness(40%); */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    color: white;
    flex: 1;
}

.Fade {
    position: fixed;
    width: 100%;
    left: 0;
    height: 16rem;
    bottom: 0;
    z-index: 11;
    background-image: linear-gradient(transparent 15%, #000 85%);
  }

.App-title h1 {
    font-size: 4rem;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}   


