.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 70px;
}

.App-header {
  background-color: rgb(240, 222, 255);
  height: 170px;
  padding: 30px;
  color: rgb(40, 0, 85);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color:  rgb(40, 0, 85);
  width: auto;
}

.navBar {
  display: flex;
  width: auto;
  justify-content: center;
  background-color:  rgb(40, 0, 85);
  font-size: 1.2rem;
  padding: 8px;

}

.navBar a {
  color: white;
  text-decoration: none;
  margin: 15px;
  transition: all .4s ease-out;
}

.navBar a:hover {
  color: rgb(240, 222, 255);
  text-decoration: none;
  
  font-size: 1.3rem;
  margin: 13px;
}

.Form input {
  display: inline-block;
  padding: 1em;margin: 1em;
  font-size: .9rem;
}

.Form button {
  font-size: .9rem;
  display: inline-block;
  padding: 1em;margin: 1em;
/*   border-radius: 5px; */
  text-decoration: none;
  color: rgb(40, 0, 85);
  border-radius: 5px;
  background-image: linear-gradient(rgb(40, 0, 85), rgb(40, 0, 85)), linear-gradient(rgb(240, 222, 255), rgb(240, 222, 255));
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .6s ease-out;
}

.Form button:hover {
  background-size: 100% 5px, auto;
}

.Balance {
  margin: 5px;
}

.Balance ul {
  font-size: 1.3rem;
  list-style-type: none;
}

.black {
  color: rgb(71, 63, 80);
  border: solid, 1px, gray;
  padding: 4px
}

.green {
  border: solid 1px gray;
  color: rgb(107, 189, 107);
  padding: 6px;
  margin: 3px;
}

.red {
  border: solid 1px gray;
  color: rgb(224, 107, 107);
  border: solid, 2px, black;
  padding: 6px;
  margin: 3px;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 220px;
  background: linear-gradient(to bottom, white 20%, rgb(240, 222, 255) 100%);
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
