.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 70px;
}

.App-header {
  background-color: rgb(240, 222, 255);
  width: 100%;
  height: 170px;
  padding: 30px;
  color: rgb(40, 0, 85);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color:  rgb(40, 0, 85);
  width: auto;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color:  rgb(40, 0, 85);
  font-size: 1.2rem;
  padding: 8px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24);
}

.navBar a {
  color: white;
  text-decoration: none;
  margin: 15px;
  transition: all .4s ease-out;
}

.navBar a:hover {
  color: rgb(240, 222, 255);
  text-decoration: none;
  
  font-size: 1.3rem;
  margin: 13px;
}

.Form input {
  display: inline-block;
  padding: 1em;margin: 1em;
  font-size: .9rem;
  margin-bottom: 60px;
}

.Form button {
  font-size: .9rem;
  display: inline-block;
  padding: 1em;margin: 1em;
/*   border-radius: 5px; */
  text-decoration: none;
  color: rgb(40, 0, 85);
  border-radius: 5px;
  background-image: linear-gradient(rgb(40, 0, 85), rgb(40, 0, 85)), linear-gradient(rgb(240, 222, 255), rgb(240, 222, 255));
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .6s ease-out;
}

.Form button:hover {
  background-size: 100% 5px, auto;
}

.Balance {
  display: flex;
  border: rgb(71, 63, 80) 2px solid;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 15px;
  margin-bottom: 50px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.Balance h2 {
  color: rgb(71, 63, 80);

}

.average {
 color: rgb(71, 63, 80);
}

.green {
  color: rgb(107, 189, 107);
  border: solid 1px rgb(71, 63, 80);
  width: 400px;
  padding: 6px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.red {
  color: rgb(224, 107, 107);
  border: solid 1px rgb(71, 63, 80);
  width: 400px;
  padding: 6px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tooltip {
  background-color:rgb(240, 222, 255);
  font-size: 1rem;
  margin: 5px;
  margin-top: 6px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 1px rgb(71, 63, 80);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(71, 63, 80);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0.1;
  transition: opacity 0.8s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(71, 63, 80) transparent transparent transparent;
}

.tooltip:hover {
  box-shadow: 0px 1px #fff;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .8;
}

#injector {
  color: rgb(71, 63, 80);
  margin: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 280px;
  background: linear-gradient(to bottom, white 20%, rgb(240, 222, 255) 100%);
  padding: 5px;
}

.footer a {
  margin-top: 100px;
}

.footer a:hover {
  margin-top: 94px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
