.Schedule {
    min-height: auto;
    max-height: auto;
    background-image: url("../pics/street.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    color: white;
    flex: 1;
    flex-direction: row;
}

.App-title {
    justify-content: flex-end;
}

.Schedule img {
    margin: 30px;
    margin-left: 45px;
    border: 20px white solid;
    justify-content: flex-end;
}