body {
  margin: 0px;
 
  background-size: 100%;
}

.mainWrapper:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1532526674046-5b3f6d7d2ab1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37ef1a4cfc7260dacab5626e8855fb4b&auto=format&fit=crop&w=1350&q=80);
  display: block;
  width: 1800px;
  height: 1200px;
  
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #555753;
}

.mainWrapper h1 {
  color: #edf4f0;
  font-size: 3rem;
  padding-left: 20px;
}

.mainWrapper p {
  position: fixed;
  color: #FFF;
}

img {
  padding: 5px;
}

a img:hover {
  position: relative;
  top: -5px;
}

html {
  margin: 0;
  padding: 0;
}

.headie {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;

}

h3 {
  text-align: center;
}

p {
  padding-left: 20px;
}

.page-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

.sidebar {
  height: 100%;
  width: 330px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #edf4f0;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.5;
}

.sidebar p {
  /* display: flex;
  justify-content: space-between; */
  font-size: 1rem;
}

.sidebar h2 {
  font-size: 2rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-around;
}

.sidebar a {
  color: #607476;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar a:focus {
  color: rgb(18, 111, 172);
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}