body {
  margin: 0px;
  background-size: 100%;
}

.mainWrapper:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1532526674046-5b3f6d7d2ab1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37ef1a4cfc7260dacab5626e8855fb4b&auto=format&fit=crop&w=1350&q=80);
  display: block;
  width: 1800px;
  height: 1200px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #555753;
}

.mainWrapper h1 {
  color: #edf4f0;
  font-size: 3rem;
  padding-left: 20px;
}

.mainWrapper p {
  color: #FFF;
}

img {
  padding: 5px;
}

a img:hover {
  position: relative;
  top: -5px;
}

html {
  margin: 0;
  padding: 0;
}

.headie {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #2677a2 20%, #dadada 100%);
  color: white;
  text-decoration: none;
  overflow-x: hidden;
  opacity: 0.97;
}

.headie a {
  display: flex;
  padding: 15px;
  font-size: 1.2rem;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  padding-top: 17px;
  width: 200px;
  transition: all 0.5s;
}

.headie a:hover {
  color: #7ac1e2;
}

.portfolioContainer img {
  float: left;
  clear: left;
  overflow: auto;
  margin: 15px;
  margin-left: 25px;
  margin-right: 35px;
  border: solid thin white;
  border-radius: 25px;
}

.portfolioContainer p {
  display: flex;
  justify-content: space-between;
  
}

.portfolioContainer h2 {
  display: flex;
  justify-content: left;
  margin-top: 130px;
  margin-left: 15px;
}

.sidebar img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

h2 {
  color: white;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  padding: 12px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 15px;
}

/* .page-wrapper {
  margin-left: -10px;
  margin-right: -10px;
} */

.sidebar {
  visibility: visible;
  height: 100%;
  width: 330px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #dadada;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.65;
  transition: visibility 1s, opacity .5s linear;
}

.sidebar p {
  /* display: flex;
  justify-content: space-between; */
  font-size: 1rem;
}

.sidebar h2 {
  font-size: 2rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-around;
}

.sidebar a {
  color: #607476;
  text-decoration: none;
}

.name h2 {
  margin-top: -7px;
}

.sidebar a:hover,
.sidebar a:focus {
  color: rgb(18, 111, 172);
}

.hoverButton a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  border-radius: 20px;
  background-color: #2677a2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  opacity: .75;
}

.hoverButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hoverButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hoverButton:hover span {
  padding-right: 25px;
}

.hoverButton:hover span:after {
  opacity: 1;
  right: 0;
}

.Contact {
  color: white;
}

.Contact h2 {
  padding-left: 20px;
}

.Contact a {
  color: #7ac1e2;
  text-decoration: none;
}

.Contact a:hover {
  color: #2677a2;
}

@media screen and (max-width: 900px) {
  .sidebar {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity .5s linear;
  }
}

@media screen and (max-width: 500px) {
  .portfolioContainer img {
    float: none;
    clear: none;
    overflow: auto;
    margin: 15px;
    margin-left: 25px;
    margin-right: 35px;
    border: solid thin white;
    border-radius: 25px;
  }
  .portfolioContainer h2 {
    margin-top: 20px;
  }

  .portfolioContainer p {
    margin: 12px;
  }
}