* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(14, 112, 108);
  color: aliceblue;
  padding: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

h1 {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

h2 {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}

p {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
}

a {
  color: rgb(0, 61, 78);
  font-size: 3rem;
  text-decoration: none;
}

a:hover {
  color: rgb(14, 112, 108);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  padding-top: 17px;
  padding-bottom: 15px;
  opacity: .8;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(0, 61, 78);
  padding-top: 9px;
  opacity: .8;
}

.footer a {
  padding: 2px;
  color: aliceblue;
 
}

.footer h2 {
  font-size: 1.6rem;
}

.footer a:hover {
  color: rgb(14, 112, 108)
}

img {
  padding: 8px;

}

.about a{
  font-size: 1em;
  display: inline;
  padding-left: 8px;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}