.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Fade {
  padding-top: 1px;
  width: 100%;
  left: 0;
  height: 16rem;
  bottom: 0;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, transparent), color-stop(85%, #000));
  background-image: -webkit-linear-gradient(transparent 15%, #000 85%);
  background-image: -o-linear-gradient(transparent 15%, #000 85%);
  background-image: linear-gradient(transparent 15%, #000 85%);
  /* background-image: -webkit-linear-gradient(transparent 15%, #000 85%);
  background-image: -moz-linear-gradient(transparent 15%, #000 85%); */
}

.spacePad {
  padding: 55px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
