.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Nav a:hover {
  color: cyan;
  text-decoration: none;
  transition-duration: 1.1s;
}

.footer {
  background-color: #222;
  padding: 15px;
  height: auto;
}

.footer a {
  font-size: 1.1rem;
}

.Wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  border: 2px black solid;
  margin: 5px;
}
/* talk to Jared about transition */
.WrapChild {
  margin: 5px;
  padding: 5px;
  border: thin red solid;
}

.App-intro {
  font-size: large;
}

