* {
  margin: 0px
}

body {
  background-image: linear-gradient(rgb(184, 255, 249), rgb(173, 215, 200));  
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}


button {
  padding: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 11px;
  font-size: 1rem;
  color: white;
  background:#01a799;
  box-shadow: 0px 1px 0px 0px rgb(50, 104, 99);
  border: none;
  margin: 10px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #22a161;;
  box-shadow: 0px 1px 0px 0px rgb(27, 78, 53);
  transition-duration: 640ms;
  text-shadow: 0 0 3px rgb(184, 255, 249)
}

.displayData {
background-color: #00000026;
border-radius: 20px;
 color: white;
 max-width: 50vw;
 margin: 0 auto;
 margin-top: 20px;
 margin-bottom: 10px;
 padding: 28px;
 box-shadow: 0 0 20px #00000026;
 text-shadow: 0 0 6px #00000073;
}


h1 {
  color: white;
}

h2 {
  color: white;
  padding-bottom: 10px;
}

h3 {
  color: white;
  padding-bottom: 10px;
}

h4 {
  color: white;
  padding-bottom: 10px;
}


form {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

form input {
  border-radius: 11px;
  padding: 14px;
  border-width: 0
}

.App {
  text-align: center;
  height: calc(100vh - 41px);
  overflow-y: auto;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 30vmin;
  padding-top: 30px;
  padding-bottom: 40px;
}


.Nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to right, #22a161, #01a799);
  padding: 10px, 3px;
  color: white;
  line-height: 42px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}
.Nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.Nav a:hover {
  text-shadow: 0 0 3px rgb(184, 255, 249);
  transition: all 0.3s ease 0s;

}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

