h2{
    color: rgba(3, 60, 2, .4);

}

.heading{
    text-align: center;
    font-family: georgia;
    text-align: center;

}

p{
    line-height: 25px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

div{
    text-transform: uppercase;
}

img  {
    float: left;
    padding: 50px;
}