.App-intro {
    min-height: 360px;
    max-height: 380px;
    z-index: 0;
    color: black;
    flex: 1;
    font-size: 2rem;
    text-align: center;
    flex: 1;
    background-image: url("../pics/white.jpeg");
    filter: grayscale(90);
    background-size: cover;
    background-repeat: no-repeat;
}

.Header {
    margin-top: 15px;
    font-style: italic;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.Header h1 {
    padding: 20px;
    font-size: 3rem;
}

.Header-paragraph {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    max-width: 70vw;
    padding: 5px;
}

.App-intro a {
    width: 90%;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
}

.opacity {
    border: 1px solid #000;
    overflow: hidden;
    transition: 0.2s linear, color 0.1s linear;
    background: rgba(255, 255, 255, 0);
    margin: 20px;
}

.opacity:hover {
    color: #fff;
    background: rgb(0, 0, 0);
}