h1 {
  font-size: 4rem;
  color: maroon;
  padding: 30px;
}

h2  {
  font-size: 3rem;
  color: red;
  padding: 30px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . ." ". . . .";
}

.HelloWord {
  grid-area: 1 / 2 / 1 / 4;
}
