.Headline {
    top: 5px;
    flex-direction: row;
    justify-content: space-around;
    min-height: auto;
    max-height: auto;
}

.menuButton {
    justify-content: space-around;
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    height: auto;
    top: 0;
    z-index: 11;
    background-color: rgba(190, 190, 190, 0);
}

.menuButton img {
    margin: 20px;
    padding: 17px;
    width: 30px;
    border-radius: 55px;
    transition-duration: 1.3s;
}

.menuButton img:hover {
    transition-duration: 1.3s;
    border-radius: 55px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(87, 87, 87, 0.87);
    -moz-box-shadow: 0px 0px 30px 0px rgba(87, 87, 87, 0.87);
    box-shadow: 0px 0px 30px 0px rgba(87, 87, 87, 0.87);
}

.menuItem {
    color: red;
    font-size: 3rem;
    z-index: 11;
    
}
.menu{
   
    display: flex;
    justify-content: space-around;
}
.show {
    opacity: 1;
    color: red;
}

.hide {
    opacity: 0
}

a .menuItem {
    color: red;
}

a .menuItem:hover {
    color: red;
}

