html {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Playfair Display', serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 400vh;
}

.Headline {
  min-height: 10vh;
  position: fixed;
  width: 100%;
  left: 0;
  height: 1rem;
  top: 0;
  z-index: 1;
  background-color: rgba(190, 190, 190, 0.141);
}

