.Badges {
    background-image: linear-gradient(#444 5%, #000 95%);
    min-height: auto;
    max-height: auto;
    z-index: 1;
    color: white;
    flex: 1;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
}

.badgeImage {
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 20px
}

.Badges img {
    padding: 20px;
}

.hideme {
    opacity: 0;
}