html {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
  
}

body {
  font-family: 'Playfair Display', serif;
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Cta {
  border: 0px;
  overflow: hidden;
  transition: 0.2s linear, color 0.1s linear;
  background: orangered;
  margin: 30px;
  padding: 15px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-top: 45px;
  color: white;
  margin: 30px;
  font-size: 2rem;
  border-radius: 8px;
}

.Cta:hover {
  background-color: rgb(255, 119, 0);
}

