

a { 
    text-align: center;
    display: block;
    border: 1px solid black;
    width: 100%;
}

@media (min-width: 760px) {
    a {
        font-size: 12px;
        width: 50%;
        display: inline-block;
    }
}