* {
  margin: 0px
}

body {
  background-color: rgb(213, 233, 252);
  font-family: 'Roboto', sans-serif;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.searchButton {
  display: flex;
  justify-content: space-around;
}

.favButton {
 align-self: center;
}

button {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  background: #FFAA40;
  box-shadow: 0px 4px 0px 0px #A66615;
  border: none;
  margin: 10px
}

button:hover {
  margin-top: 13px;
  margin-bottom: 7px;
  box-shadow: 0px 1px 0px 0px #A66615;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
  background-color: darkblue;
  padding: 10px;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 7px;
  
}

.nav a:hover {
  color: lightskyblue;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: aliceblue;
  background-color: darkblue;
  padding: 3px;
  padding-bottom: 8px;
  color: aliceblue;
  background-color: darkblue;
  margin-top: 35px;
}

.footer a {
  color: aliceblue;
  text-decoration: none;
  padding: 9px;
}

.footer a:hover {
  color: lightskyblue;
}

/* .wrapper {
  display: flex;
  justify-content: space-around;
} */

img {
  display: flex;
  justify-content: space-around;
  align-items: middle;
  width: 300px;
}

p {
  padding: 35px;
}

.favorites {
  padding: 30px
}

h2 {
  display: flex;
  padding: 16px;
  padding-top: 38px;
  font-size: 2rem;
  color: darkblue;
  align-items: center;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h3 {
  padding: 5px;
  font-size: 1.5rem;
  color: darkblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h4 {
  padding: 4px;
  font-size: 1.2rem;
  color: darkblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}