.App-fade {
    background-color: black;
    min-width: 100vw;
    min-height: auto;
    max-height: auto;
    z-index: 2;
}

.hideme {
    opacity: 0;
}


.Pitch-intro {
    min-height: auto;
    max-height: auto;
    z-index: 0;
    flex: 1;
    font-size: 2rem;
    text-align: center;
    flex: 1;
    background-image: url("../pics/mudra.jpeg");
    /* filter: grayscale(90); */
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px #111;
}

.Pitch-header {
    color: white;
    margin: 35px;
    margin-top: 55px;
    margin-bottom: 10px;
    font-style: italic;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.Pitch-header h1 {
    position: relative;
    padding: 10px;
    margin: 10px;
    font-size: 3.5rem;
    color: white;
}

.Pitch-paragraph {
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
    max-width: 70vw;
    padding: 80px 45px;
}

.App-intro a {
    width: 90%;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 36px;
    text-decoration: none;
    color: white(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
}

.App-intro a:visited {
    color: lavender
}

.opacity:hover {
    color: #fff;
    background: rgba(117, 102, 255, 0.8);

}

.Fadetop {
    padding-top: 1px;
    width: 100%;
    left: 0;
    height: 16rem;
    top: 0;
    background-image: linear-gradient( #000 15%, transparent 85%);
}